<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LocalServerIP" value="10.0.0.1" />
    <add key="RemoteServerIP" value="10.0.0.2" />
    <add key="KeepAliveErrorCount" value="4" />
    <add key="KeepAliveInterval" value="5" />
    <!--Tempo em Segundos-->
    <add key="TreeCopyInterval" value="1" />
    <!--Tempo em Minutos-->
    <add key="Primary" value="true" />
    <add key="TreeRemote" value="\\teste\tree" />
    <add key="TreeLocal" value="\\teste\tree" />
    <add key="Tree_userName" value="teste" />
    <add key="Tree_password" value="teste" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="IONData" connectionString="Data Source=SRV-ENG-SQL01\PME1;initial catalog=ION_Data;user id=sa_pme;password=metrum2002*;MultipleActiveResultSets=True" />
    <add name="BaseContext" connectionString="metadata=res://*/Data.BaseContext.csdl|res://*/Data.BaseContext.ssdl|res://*/Data.BaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRV-ENG-SQL01\PME1;initial catalog=ION_Data;user id=sa_pme;password=metrum2002*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>